{% extends "layout.html" %} 

{% block title %} Home {% endblock %} 

{% block main %}
<div class="main_content">
    <div class="container3" id="index_outer_box">
        <div class="container5">
            <div id="knobContainer"></div>
        </div>
        
    </div>
</div>

<script src="/static/pure-knob-master/pureknob.js" type="text/javascript"></script>
<script type="text/javascript">
    function initializeKnob() {
        // Create knob element, 300 x 300 px in size.
        const knob = pureknob.createKnob(300, 300);

        // Set properties.
        knob.setProperty('angleStart', -0.75 * Math.PI);
        knob.setProperty('angleEnd', 0.75 * Math.PI);
        knob.setProperty('colorFG', 'yellow');
        knob.setProperty('trackWidth', 0.4);
        knob.setProperty('valMin', 0);
        knob.setProperty('valMax', 200);

        // Set initial value.
        knob.setValue(50);

        /*
         * Event listener.
         *
         * Parameter 'knob' is the knob object which was
         * actuated. Allows you to associate data with
         * it to discern which of your knobs was actuated.
         *
         * Parameter 'value' is the value which was set
         * by the user.
         */
        const listener = function(knob, value) {
            console.log(value);
        };

        knob.addListener(listener);

        // Create element node.
        const node = knob.node();

        // Add it to the DOM.
        const knobContainer = document.getElementById('knobContainer');
        knobContainer.appendChild(node);
    }

    document.addEventListener('DOMContentLoaded', initializeKnob, false);
</script>


{% endblock %}