{% extends "layout.html" %}

{% block title %} {% endblock %} 

{% block main %}

  <div class="main_content">
    <div class="container3" style="display: none;">
      <div>
        <div class="intro1">MUSIC <span class="intro2">GENERATOR</span></div>
        <div class="intro2"><span>Create Your Own Beautiful Melodies</span></div>
        <a href="/login" class="btn1" id="get-started-btn" style="display: none;">GET STARTED NOW</a>
      </div>
    </div>
  </div>


{% endblock %}

